<a href="https://colab.research.google.com/github/GhazaleZe/Machine-learning-for-optimal-portfolios/blob/main/CompAss_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive

In [113]:
from pydrive.auth import GoogleAuth
from google.colab import drive
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
import numpy as np


auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#F-F Research data factors
file_id = '1JqjCLhMszamzs3_ihpqCVFskcZYicXYy' 


download = drive.CreateFile({'id': file_id})

#F-F Research data factors daily

file_id_d = '1In0NkXHqz-QRlfivTTDaAbE2QFCrzZt6' 


download_daily = drive.CreateFile({'id': file_id_d})

# predicator 

file_id_p = '1yyVF3ilhlD-GDc08BL2k_VJfLiUsbpEF'

download_predictor = drive.CreateFile({'id': file_id_p})

In [114]:
download.GetContentFile('F-F_Research_Data_Factors.CSV')
FF_monthly_df  = pd.read_csv("F-F_Research_Data_Factors.CSV")
FF_monthly_df = FF_monthly_df [FF_monthly_df['Year_Month']>='192701']
FF_monthly_df= FF_monthly_df.dropna()
FF_monthly_df.head()

   Year_Month Mkt-RF    SMB    HML    RF
6      192701  -0.06  -0.37   4.54  0.25
7      192702   4.18   0.04   2.94  0.26
8      192703   0.13  -1.65  -2.61   0.3
9      192704   0.46    0.3   0.81  0.25
10     192705   5.44   1.53   4.73   0.3

In [115]:
download_daily.GetContentFile('F-F_Research_Data_Factors_daily.CSV')
FF_daily_df  = pd.read_csv("F-F_Research_Data_Factors_daily.CSV")
FF_daily_df = FF_daily_df.dropna()
#FF_daily_df['YYMMDD'] = FF_daily_df['YYMMDD'].astype(int)
FF_daily_df = FF_daily_df [(FF_daily_df['YYMMDD']>= '19270101') & (FF_daily_df['YYMMDD'] <= '20211231')]
FF_daily_df.head(50)

       YYMMDD  Mkt-RF   SMB   HML     RF
150  19270103   -0.79  0.19  0.09  0.010
151  19270104    0.31  0.14 -0.66  0.010
152  19270105    0.14  0.46 -0.36  0.010
153  19270106   -0.17 -0.05  0.15  0.010
154  19270107    0.30 -0.23  0.41  0.010
155  19270108    0.39 -0.14  0.21  0.010
156  19270110    0.14  0.09  0.05  0.010
157  19270111   -0.28 -0.33  0.83  0.010
158  19270112    0.07 -0.10  0.09  0.010
159  19270113   -0.04  0.18 -0.28  0.010
160  19270114    0.05 -0.81  0.85  0.010
161  19270115    0.13  0.10  0.84  0.010
162  19270117   -0.04 -0.11  0.65  0.010
163  19270118   -0.06 -0.24  0.04  0.010
164  19270119    0.61 -0.04 -0.72  0.010
165  19270120   -0.17 -0.27  0.07  0.010
166  19270121   -0.01  0.63  1.25  0.010
167  19270122   -0.36  0.24  0.37  0.010
168  19270124   -0.48  0.44  1.49  0.010
169  19270125   -1.07 -0.52 -1.22  0.010
170  19270126    0.19  0.14  0.45  0.010
171  19270127   -0.35 -0.01 -0.40  0.010
172  19270128    0.16  0.17  0.74  0.010
173  19270129    0.73 -0.38 -0.33  0.010
174  19270131    0.61  0.14 -0.06  0.010
175  19270201   -0.01  0.58  1.04  0.012
176  19270202    0.70 -0.19  0.07  0.012
177  19270203    0.17  0.23 -0.09  0.012
178  19270204    0.37  0.18  1.28  0.012
179  19270205   -0.18  0.30  0.47  0.012
180  19270207   -0.13  0.62  0.50  0.012
181  19270208    0.10  0.28  0.89  0.012
182  19270209    0.04 -0.88 -0.56  0.012
183  19270210    0.08  0.25 -0.65  0.012
184  19270211    0.31 -0.54 -0.46  0.012
185  19270214    0.49 -0.06 -0.40  0.012
186  19270215    0.10 -0.27 -0.17  0.012
187  19270216   -0.02  0.03  1.50  0.012
188  19270217    0.24  0.10  0.81  0.012
189  19270218    0.32 -0.73 -0.12  0.012
190  19270219    0.01  0.35 -0.42  0.012
191  19270221   -0.17  0.17 -0.86  0.012
192  19270223    0.72 -0.34 -0.12  0.012
193  19270224    0.14  0.31  0.15  0.012
194  19270225    0.21  0.26 -0.37  0.012
195  19270226    0.07 -0.18 -0.06  0.012
196  19270228    0.55 -0.37  0.23  0.012
197  19270301   -0.40 -0.05 -0.51  0.011
198  19270302   -1.14 -0.16 -0.29  0.011
199  19270303    1.02 -0.03  0.02  0.011

In [116]:

download_predictor.GetContentFile('PredictorData2021Monthly.csv')
Predictore_df  = pd.read_csv("PredictorData2021Monthly.csv")
Predictore_df.head()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004525,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004643,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
Predictore_df = Predictore_df[Predictore_df['yyyymm']>=192701]
# delete column csp
Predictore_df = Predictore_df.drop('csp' , axis=1)
Predictore_df.head()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,CRSP_SPvw,CRSP_SPvwx
672,192701,13.21,0.6967,1.229,0.443706,0.0323,0.0466,0.0561,0.0351,0.050824,0.0025,-0.011299,0.0075,0.0056,0.000470,-0.002910,-0.005579
673,192702,13.84,0.7033,1.218,0.428501,0.0329,0.0467,0.0559,0.0347,0.051668,0.0026,-0.005714,0.0088,0.0069,0.000287,0.045522,0.040566
674,192703,13.93,0.7100,1.208,0.469765,0.0320,0.0462,0.0554,0.0331,0.046357,0.0030,-0.005747,0.0253,0.0083,0.000924,0.007324,0.002610
675,192704,14.17,0.7167,1.197,0.456754,0.0339,0.0458,0.0548,0.0333,0.050514,0.0025,0.000000,-0.0005,0.0055,0.000603,0.013021,0.010907
676,192705,14.91,0.7233,1.186,0.434783,0.0333,0.0457,0.0550,0.0327,0.055275,0.0030,0.005780,0.0109,-0.0011,0.000392,0.062353,0.057096

In [ ]:
#Predictore_df[Predictore_df.isna().any(axis=1)]

In [118]:
#FF_monthly_df[FF_monthly_df.isna().any(axis=1)]
FF_daily_df['YYMMDD'].apply(lambda date: date[4:6] if date[4:6] =='01' else None)

150        01
151        01
152        01
153        01
154        01
         ...
25143    None
25144    None
25145    None
25146    None
25147    None
Name: YYMMDD, Length: 24998, dtype: object

In [119]:
#FF_daily_df.tail()
df_volitility_daily = pd.DataFrame(columns=['YYYYMM', 'Volatility'])
#def volatility_from_daily(df):
year_index = np.arange(1927, 2022, 1)
month_index = [f'{i:02}' for i in range(1, 13)]
FF_daily_df['year'] = FF_daily_df['YYMMDD'].str[:4]
FF_daily_df['month'] = FF_daily_df['YYMMDD'].str[4:6]
FF_daily_df['day'] = FF_daily_df['YYMMDD'].str[6:]
#FF_daily_df.head(50)

In [50]:
#month_index

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [121]:
for year in year_index:
  for month in month_index:
    sub_set_daily = FF_daily_df[(FF_daily_df['year']==str(year)) & (FF_daily_df['month']==str(month))]
    subset_copy = sub_set_daily.copy()
    subset_copy['Mkt-RF'] = subset_copy['Mkt-RF'].astype(float).apply(lambda x: round(x**2, 3))
    sub_set_daily = subset_copy
    new_index = len(df_volitility_daily) + 1
    if month == '12':
      df_volitility_daily.loc[new_index] = [str(year+1)+'01', sub_set_daily['Mkt-RF'].sum()/len(sub_set_daily['Mkt-RF']) ]
    elif month <'09':
      df_volitility_daily.loc[new_index] = [str(year)+ '0' +str(int(month)+1), sub_set_daily['Mkt-RF'].sum()/len(sub_set_daily['Mkt-RF'])]
    else:
      df_volitility_daily.loc[new_index] = [str(year)+str(int(month)+1), sub_set_daily['Mkt-RF'].sum()/len(sub_set_daily['Mkt-RF'])]


df_volitility_daily

      YYYYMM  Volatility
1     192702    0.165480
2     192703    0.097636
3     192704    0.315370
4     192705    0.230520
5     192706    0.136400
...      ...         ...
2276  202109    0.312500
2277  202110    0.701667
2278  202111    0.602000
2279  202112    0.671381
2280  202201    1.348545

[2280 rows x 2 columns]