<a href="https://colab.research.google.com/github/GhazaleZe/Machine-learning-for-optimal-portfolios/blob/main/CompAss_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U -q PyDrive

In [6]:
from pydrive.auth import GoogleAuth
from google.colab import drive
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd


auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#F-F Research data factors
file_id = '1JqjCLhMszamzs3_ihpqCVFskcZYicXYy' 


download = drive.CreateFile({'id': file_id})

#F-F Research data factors daily

file_id_d = '1In0NkXHqz-QRlfivTTDaAbE2QFCrzZt6' 


download_daily = drive.CreateFile({'id': file_id_d})

# predicator 

file_id_p = '1yyVF3ilhlD-GDc08BL2k_VJfLiUsbpEF'

download_predictor = drive.CreateFile({'id': file_id_p})

In [17]:
download.GetContentFile('F-F_Research_Data_Factors.CSV')
FF_monthly_df  = pd.read_csv("F-F_Research_Data_Factors.CSV")
FF_monthly_df = FF_monthly_df [FF_monthly_df['Year_Month']>='192701']
FF_monthly_df.head()

   Year_Month Mkt-RF    SMB    HML    RF
6      192701  -0.06  -0.37   4.54  0.25
7      192702   4.18   0.04   2.94  0.26
8      192703   0.13  -1.65  -2.61   0.3
9      192704   0.46    0.3   0.81  0.25
10     192705   5.44   1.53   4.73   0.3

In [21]:
download_daily.GetContentFile('F-F_Research_Data_Factors_daily.CSV')
FF_daily_df  = pd.read_csv("F-F_Research_Data_Factors_daily.CSV")
FF_daily_df = FF_daily_df [FF_daily_df['YYMMDD']>='19270101']
FF_daily_df.head()

       YYMMDD  Mkt-RF   SMB   HML    RF
150  19270103   -0.79  0.19  0.09  0.01
151  19270104    0.31  0.14 -0.66  0.01
152  19270105    0.14  0.46 -0.36  0.01
153  19270106   -0.17 -0.05  0.15  0.01
154  19270107    0.30 -0.23  0.41  0.01

In [9]:

download_predictor.GetContentFile('PredictorData2021Monthly.csv')
Predictore_df  = pd.read_csv("PredictorData2021Monthly.csv")
Predictore_df.head()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004525,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004643,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
Predictore_df = Predictore_df[Predictore_df['yyyymm']>=192701]
Predictore_df.head()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
672,192701,13.21,0.6967,1.229,0.443706,0.0323,0.0466,0.0561,0.0351,0.050824,0.0025,-0.011299,0.0075,0.0056,0.000470,NaN,-0.002910,-0.005579
673,192702,13.84,0.7033,1.218,0.428501,0.0329,0.0467,0.0559,0.0347,0.051668,0.0026,-0.005714,0.0088,0.0069,0.000287,NaN,0.045522,0.040566
674,192703,13.93,0.7100,1.208,0.469765,0.0320,0.0462,0.0554,0.0331,0.046357,0.0030,-0.005747,0.0253,0.0083,0.000924,NaN,0.007324,0.002610
675,192704,14.17,0.7167,1.197,0.456754,0.0339,0.0458,0.0548,0.0333,0.050514,0.0025,0.000000,-0.0005,0.0055,0.000603,NaN,0.013021,0.010907
676,192705,14.91,0.7233,1.186,0.434783,0.0333,0.0457,0.0550,0.0327,0.055275,0.0030,0.005780,0.0109,-0.0011,0.000392,NaN,0.062353,0.057096