<a href="https://colab.research.google.com/github/GhazaleZe/Machine-learning-for-optimal-portfolios/blob/main/CompAss_test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive

In [1]:
from pydrive.auth import GoogleAuth
from google.colab import drive
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
import numpy as np


auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#F-F Research data factors
file_id = '1JqjCLhMszamzs3_ihpqCVFskcZYicXYy' 


download = drive.CreateFile({'id': file_id})

#F-F Research data factors daily

file_id_d = '1In0NkXHqz-QRlfivTTDaAbE2QFCrzZt6' 


download_daily = drive.CreateFile({'id': file_id_d})

# predicator 

file_id_p = '1yyVF3ilhlD-GDc08BL2k_VJfLiUsbpEF'

download_predictor = drive.CreateFile({'id': file_id_p})

In [2]:
download.GetContentFile('F-F_Research_Data_Factors.CSV')
FF_monthly_df  = pd.read_csv("F-F_Research_Data_Factors.CSV")
#FF_monthly_df.tail(50)
# sort by age column in descending order

There is a problem here for some monthes.

In [3]:
FF_monthly_df = FF_monthly_df [FF_monthly_df['Year_Month']>='192701']
FF_monthly_df= FF_monthly_df.dropna()
FF_monthly_df['Year_Month'] = FF_monthly_df['Year_Month'].astype(int)
df_sorted = FF_monthly_df.sort_values('Year_Month', ascending=True)
dirty_data = df_sorted[df_sorted['Year_Month']<192701]
dirty_data.to_csv('dirty_data_monthly.csv', index=False)
#FF_monthly_df.tail(50)

This is a test for undderstanding what is the yearly data here.

In [4]:
temp = df_sorted[(df_sorted['Year_Month']>=192801) & (df_sorted['Year_Month']<192901) ]
temp['Mkt-RF'] = temp['Mkt-RF'].astype(float)
temp['Mkt-RF'].sum()

<ipython-input-4-5509b59c1093>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['Mkt-RF'] = temp['Mkt-RF'].astype(float)

31.010000000000005

Main Code start here again.

In [26]:
download.GetContentFile('F-F_Research_Data_Factors.CSV')
FF_monthly_df  = pd.read_csv("F-F_Research_Data_Factors.CSV")
FF_monthly_df= FF_monthly_df.dropna()
FF_monthly_df['Year_Month'] = FF_monthly_df['Year_Month'].astype(int)
FF_monthly_df = FF_monthly_df [FF_monthly_df['Year_Month']>=192701]
FF_monthly_df['Year_Month'] = FF_monthly_df['Year_Month'].astype(str)
FF_monthly_df['Mkt-RF'] = FF_monthly_df['Mkt-RF'].astype(float )
FF_monthly_df.sort_values('Year_Month', ascending=True)

     Year_Month  Mkt-RF    SMB    HML    RF
6        192701   -0.06  -0.37   4.54  0.25
7        192702    4.18   0.04   2.94  0.26
8        192703    0.13  -1.65  -2.61   0.3
9        192704    0.46    0.3   0.81  0.25
10       192705    5.44   1.53   4.73   0.3
...         ...     ...    ...    ...   ...
1155     202210    7.83   0.09   8.05  0.23
1156     202211    4.60   -3.4   1.38  0.29
1157     202212   -6.41  -0.68   1.32  0.33
1158     202301    6.65   5.02  -4.05  0.35
1159     202302   -2.58    1.1   -0.8  0.34

[1154 rows x 5 columns]

In [27]:
download_daily.GetContentFile('F-F_Research_Data_Factors_daily.CSV')
FF_daily_df  = pd.read_csv("F-F_Research_Data_Factors_daily.CSV")
FF_daily_df = FF_daily_df.dropna()
#FF_daily_df['YYMMDD'] = FF_daily_df['YYMMDD'].astype(int)
FF_daily_df = FF_daily_df [(FF_daily_df['YYMMDD']>= '19270101') & (FF_daily_df['YYMMDD'] <= '20211231')]
FF_daily_df.head(50)

       YYMMDD  Mkt-RF   SMB   HML     RF
150  19270103   -0.79  0.19  0.09  0.010
151  19270104    0.31  0.14 -0.66  0.010
152  19270105    0.14  0.46 -0.36  0.010
153  19270106   -0.17 -0.05  0.15  0.010
154  19270107    0.30 -0.23  0.41  0.010
155  19270108    0.39 -0.14  0.21  0.010
156  19270110    0.14  0.09  0.05  0.010
157  19270111   -0.28 -0.33  0.83  0.010
158  19270112    0.07 -0.10  0.09  0.010
159  19270113   -0.04  0.18 -0.28  0.010
160  19270114    0.05 -0.81  0.85  0.010
161  19270115    0.13  0.10  0.84  0.010
162  19270117   -0.04 -0.11  0.65  0.010
163  19270118   -0.06 -0.24  0.04  0.010
164  19270119    0.61 -0.04 -0.72  0.010
165  19270120   -0.17 -0.27  0.07  0.010
166  19270121   -0.01  0.63  1.25  0.010
167  19270122   -0.36  0.24  0.37  0.010
168  19270124   -0.48  0.44  1.49  0.010
169  19270125   -1.07 -0.52 -1.22  0.010
170  19270126    0.19  0.14  0.45  0.010
171  19270127   -0.35 -0.01 -0.40  0.010
172  19270128    0.16  0.17  0.74  0.010
173  19270129    0.73 -0.38 -0.33  0.010
174  19270131    0.61  0.14 -0.06  0.010
175  19270201   -0.01  0.58  1.04  0.012
176  19270202    0.70 -0.19  0.07  0.012
177  19270203    0.17  0.23 -0.09  0.012
178  19270204    0.37  0.18  1.28  0.012
179  19270205   -0.18  0.30  0.47  0.012
180  19270207   -0.13  0.62  0.50  0.012
181  19270208    0.10  0.28  0.89  0.012
182  19270209    0.04 -0.88 -0.56  0.012
183  19270210    0.08  0.25 -0.65  0.012
184  19270211    0.31 -0.54 -0.46  0.012
185  19270214    0.49 -0.06 -0.40  0.012
186  19270215    0.10 -0.27 -0.17  0.012
187  19270216   -0.02  0.03  1.50  0.012
188  19270217    0.24  0.10  0.81  0.012
189  19270218    0.32 -0.73 -0.12  0.012
190  19270219    0.01  0.35 -0.42  0.012
191  19270221   -0.17  0.17 -0.86  0.012
192  19270223    0.72 -0.34 -0.12  0.012
193  19270224    0.14  0.31  0.15  0.012
194  19270225    0.21  0.26 -0.37  0.012
195  19270226    0.07 -0.18 -0.06  0.012
196  19270228    0.55 -0.37  0.23  0.012
197  19270301   -0.40 -0.05 -0.51  0.011
198  19270302   -1.14 -0.16 -0.29  0.011
199  19270303    1.02 -0.03  0.02  0.011

In [28]:

download_predictor.GetContentFile('PredictorData2021Monthly.csv')
Predictore_df  = pd.read_csv("PredictorData2021Monthly.csv")
Predictore_df.head()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,csp,CRSP_SPvw,CRSP_SPvwx
0,187101,4.44,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,187102,4.50,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004967,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,187103,4.61,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004525,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,187104,4.74,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004252,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,187105,4.86,0.26,0.4,NaN,NaN,NaN,NaN,NaN,NaN,0.004643,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
Predictore_df = Predictore_df[Predictore_df['yyyymm']>=192701]
# delete column csp
Predictore_df = Predictore_df.drop('csp' , axis=1)
Predictore_df.head()

,yyyymm,Index,D12,E12,b/m,tbl,AAA,BAA,lty,ntis,Rfree,infl,ltr,corpr,svar,CRSP_SPvw,CRSP_SPvwx
672,192701,13.21,0.6967,1.229,0.443706,0.0323,0.0466,0.0561,0.0351,0.050824,0.0025,-0.011299,0.0075,0.0056,0.000470,-0.002910,-0.005579
673,192702,13.84,0.7033,1.218,0.428501,0.0329,0.0467,0.0559,0.0347,0.051668,0.0026,-0.005714,0.0088,0.0069,0.000287,0.045522,0.040566
674,192703,13.93,0.7100,1.208,0.469765,0.0320,0.0462,0.0554,0.0331,0.046357,0.0030,-0.005747,0.0253,0.0083,0.000924,0.007324,0.002610
675,192704,14.17,0.7167,1.197,0.456754,0.0339,0.0458,0.0548,0.0333,0.050514,0.0025,0.000000,-0.0005,0.0055,0.000603,0.013021,0.010907
676,192705,14.91,0.7233,1.186,0.434783,0.0333,0.0457,0.0550,0.0327,0.055275,0.0030,0.005780,0.0109,-0.0011,0.000392,0.062353,0.057096

In [ ]:
#Predictore_df[Predictore_df.isna().any(axis=1)]

In [30]:
#FF_monthly_df[FF_monthly_df.isna().any(axis=1)]
FF_daily_df['YYMMDD'].apply(lambda date: date[4:6] if date[4:6] =='01' else None)

150        01
151        01
152        01
153        01
154        01
         ...
25143    None
25144    None
25145    None
25146    None
25147    None
Name: YYMMDD, Length: 24998, dtype: object

In [55]:
#FF_daily_df.tail()
df_volitility_daily = pd.DataFrame(columns=['YYYYMM', 'Volatility'])
#def volatility_from_daily(df):
year_index = np.arange(1927, 2022, 1)
month_index = [f'{i:02}' for i in range(1, 13)]
FF_daily_df['year'] = FF_daily_df['YYMMDD'].str[:4]
FF_daily_df['month'] = FF_daily_df['YYMMDD'].str[4:6]
FF_daily_df['day'] = FF_daily_df['YYMMDD'].str[6:]
#FF_daily_df.head(50)

In [32]:
#month_index

In [56]:
for year in year_index:
  for month in month_index:
    sub_set_daily = FF_daily_df[(FF_daily_df['year']==str(year)) & (FF_daily_df['month']==str(month))]
    subset_copy = sub_set_daily.copy()
    subset_copy['Mkt-RF'] = subset_copy['Mkt-RF'].astype(float).apply(lambda x: round(x**2, 3))
    sub_set_daily = subset_copy
    new_index = len(df_volitility_daily) + 1
    if month == '12':
      df_volitility_daily.loc[new_index] = [str(year+1)+'01', round(sub_set_daily['Mkt-RF'].sum()/len(sub_set_daily['Mkt-RF']),3)]
    elif month <'09':
      df_volitility_daily.loc[new_index] = [str(year)+ '0' +str(int(month)+1), round(sub_set_daily['Mkt-RF'].sum()/len(sub_set_daily['Mkt-RF']),3)]
    else:
      df_volitility_daily.loc[new_index] = [str(year)+str(int(month)+1), round(sub_set_daily['Mkt-RF'].sum()/len(sub_set_daily['Mkt-RF']),3)]


df_volitility_daily

      YYYYMM  Volatility
1     192702       0.165
2     192703       0.098
3     192704       0.315
4     192705       0.231
5     192706       0.136
...      ...         ...
1136  202109       0.313
1137  202110       0.702
1138  202111       0.602
1139  202112       0.671
1140  202201       1.349

[1140 rows x 2 columns]

In [57]:



joined_monthly = pd.merge(FF_monthly_df,df_volitility_daily, left_on='Year_Month', right_on='YYYYMM', how='inner')
#joined_monthly['Volatility'][joined_monthly['Year_Month'] == '192803']

joined_monthly

     Year_Month  Mkt-RF    SMB    HML    RF  YYYYMM  Volatility
0        192702    4.18   0.04   2.94  0.26  192702       0.165
1        192703    0.13  -1.65  -2.61   0.3  192703       0.098
2        192704    0.46    0.3   0.81  0.25  192704       0.315
3        192705    5.44   1.53   4.73   0.3  192705       0.231
4        192706   -2.34   0.59  -1.73  0.26  192706       0.136
...         ...     ...    ...    ...   ...     ...         ...
1135     202109   -4.37   0.72   5.09     0  202109       0.313
1136     202110    6.65  -2.34  -0.49     0  202110       0.702
1137     202111   -1.55  -1.32  -0.45     0  202111       0.602
1138     202112    3.10  -1.65   3.26  0.01  202112       0.671
1139     202201   -6.25  -5.93  12.75     0  202201       1.349

[1140 rows x 7 columns]

## W base with window

In [58]:
window = 120
gama = 4
joined_monthly_df = joined_monthly
joined_monthly_df['w_base'] = None
for i in range(len(joined_monthly['Year_Month'])-window):
  
  sub_set_monthly = joined_monthly.iloc[i:i+ window, :]
  #joined_monthly_df['Sum_base'][] = sub_set_monthly['Mkt-RF'].sum()
  voli = joined_monthly_df.loc[window, 'Volatility']
  joined_monthly_df.iloc[i+ window, joined_monthly_df.columns.get_loc('w_base')] = round(sub_set_monthly['Mkt-RF'].sum()/(window * gama * voli ) ,3)
  #print(sub_set_monthly['Mkt-RF'].sum(),"\n")


joined_monthly_df.tail(60)

     Year_Month  Mkt-RF    SMB     HML    RF  YYYYMM  Volatility w_base
1080     201702    3.57  -2.02   -1.68  0.04  201702       0.219   0.35
1081     201703    0.17   1.14   -3.32  0.03  201703       0.150  0.375
1082     201704    1.09   0.72    -2.1  0.05  201704       0.303  0.373
1083     201705    1.06  -2.52   -3.78  0.06  201705       0.249  0.362
1084     201706    0.78   2.23    1.48  0.06  201706       0.267  0.352
1085     201707    1.87  -1.46   -0.24  0.07  201707       0.247  0.365
1086     201708    0.16  -1.67   -2.09  0.09  201708       0.138   0.39
1087     201709    2.51   4.46    3.12  0.09  201709       0.356  0.387
1088     201710    2.25  -1.93    0.21  0.09  201710       0.153  0.383
1089     201711    3.12  -0.58   -0.08  0.08  201711       0.120  0.385
1090     201712    1.06  -1.32    0.05  0.09  201712       0.192  0.422
1091     201801    5.57  -3.15   -1.33  0.12  201801       0.140   0.43
1092     201802   -3.65   0.23   -1.07  0.11  201802       0.374  0.485
1093     201803   -2.35   4.05   -0.23  0.11  201803       2.727  0.482
1094     201804    0.28   1.14    0.54  0.14  201804       1.548  0.476
1095     201805    2.65   5.26   -3.18  0.14  201805       1.136  0.456
1096     201806    0.48   1.15   -2.33  0.14  201806       0.395   0.46
1097     201807    3.19  -2.23    0.47  0.16  201807       0.328    0.5
1098     201808    3.44   1.13   -3.98  0.16  201808       0.317  0.518
1099     201809    0.06  -2.28   -1.69  0.15  201809       0.226  0.527
1100     201810   -7.68  -4.77    3.44  0.19  201810       0.136   0.57
1101     201811    1.69  -0.68    0.28  0.18  201811       2.125  0.613
1102     201812   -9.57  -2.37   -1.85   0.2  201812       1.476  0.657
1103     201901    8.40   2.89   -0.46  0.21  201901       3.726  0.605
1104     201902    3.40   2.05   -2.67  0.18  201902       1.518   0.68
1105     201903    1.10  -3.03    -4.1  0.19  201903       0.300  0.742
1106     201904    3.97  -1.74    2.14  0.21  201904       0.617  0.706
1107     201905   -6.94  -1.31   -2.35  0.21  201905       0.208  0.678
1108     201906    6.93   0.27   -0.72  0.18  201906       0.967  0.622
1109     201907    1.19  -1.93    0.47  0.19  201907       0.604  0.652
1110     201908   -2.58  -2.37   -4.77  0.16  201908       0.287  0.622
1111     201909    1.43  -0.97    6.74  0.18  201909       2.081  0.595
1112     201910    2.06   0.29   -1.92  0.16  201910       0.370  0.583
1113     201911    3.87   0.79      -2  0.12  201911       0.691  0.604
1114     201912    2.77   0.73    1.77  0.14  201912       0.181  0.597
1115     202001   -0.11  -3.11   -6.23  0.13  202001       0.240  0.597
1116     202002   -8.13   1.07   -3.79  0.12  202002       0.534  0.612
1117     202003  -13.39  -4.86  -13.95  0.13  202003       2.477  0.559
1118     202004   13.65   2.47   -1.26     0  202004      32.849  0.469
1119     202005    5.58   2.47   -4.89  0.01  202005       6.963  0.522
1120     202006    2.46    2.7   -2.17  0.01  202006       2.225  0.584
1121     202007    5.77  -2.32   -1.37  0.01  202007       3.338   0.62
1122     202008    7.63  -0.22   -2.96  0.01  202008       0.833  0.615
1123     202009   -3.63   0.04   -2.68  0.01  202009       0.369  0.672
1124     202010   -2.10   4.37    4.22  0.01  202010       2.466  0.612
1125     202011   12.47   5.81    2.13  0.01  202011       1.655  0.584
1126     202012    4.63   4.89    -1.5  0.01  202012       1.271  0.638
1127     202101   -0.03   7.34    2.97  0.01  202101       0.296  0.628
1128     202102    2.78   2.06    7.17     0  202102       1.112  0.619
1129     202103    3.08  -2.37    7.39     0  202103       0.998  0.616
1130     202104    4.93   -3.2   -0.95     0  202104       1.459  0.628
1131     202105    0.29  -0.25    7.09     0  202105       0.541  0.637
1132     202106    2.75    1.7   -7.83     0  202106       0.857  0.644
1133     202107    1.27  -3.99   -1.78     0  202107       0.277  0.665
1134     202108    2.91  -0.43   -0.15     0  202108       0.567  0.681
1135     202109   -4.37   0.72    5.09     0  202109       0.313  0.722
1136     202110    6.65  -2.34   -0.49     0  202110       0.702  0.737
1137     202111   -1.55  -1.32   -0.45     0  202111       0.602  0.715
1138     202112    3.10  -1.65    3.26  0.01  202112       0.671  0.709
1139     202201   -6.25  -5.93   12.75     0  202201       1.349   0.72

## w base coumulative